[submodule "历史"]
  path = 历史
  url = https://github.com/program-think-mirrors/books.git
  branch = history
[submodule "政治"]
  path = 政治
  url = https://github.com/program-think-mirrors/books.git
  branch = politics
[submodule "军事"]
  path = 军事
  url = https://github.com/program-think-mirrors/books.git
  branch = military
